In [9]:
import pandas as pd
import numpy as np

In [13]:
df=pd.read_csv('Iris.csv',header=None)

In [14]:
df

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [29]:
df.columns= ['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm','Species']

In [30]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [31]:
df_setosa=df[df['Species']=='Iris-setosa'].iloc[0:8]

In [32]:
df_setosa

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa
5            5.4           3.9            1.7           0.4  Iris-setosa
6            4.6           3.4            1.4           0.3  Iris-setosa
7            5.0           3.4            1.5           0.2  Iris-setosa

In [33]:
df_versicolor=df[df['Species']=='Iris-versicolor'].iloc[0:8]

In [34]:
df_versicolor

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
50            7.0           3.2            4.7           1.4  Iris-versicolor
51            6.4           3.2            4.5           1.5  Iris-versicolor
52            6.9           3.1            4.9           1.5  Iris-versicolor
53            5.5           2.3            4.0           1.3  Iris-versicolor
54            6.5           2.8            4.6           1.5  Iris-versicolor
55            5.7           2.8            4.5           1.3  Iris-versicolor
56            6.3           3.3            4.7           1.6  Iris-versicolor
57            4.9           2.4            3.3           1.0  Iris-versicolor

## Merging Two datasets

In [40]:
df_merge=pd.concat([df_setosa,df_versicolor])

In [41]:
df_merge

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0             5.1           3.5            1.4           0.2      Iris-setosa
1             4.9           3.0            1.4           0.2      Iris-setosa
2             4.7           3.2            1.3           0.2      Iris-setosa
3             4.6           3.1            1.5           0.2      Iris-setosa
4             5.0           3.6            1.4           0.2      Iris-setosa
5             5.4           3.9            1.7           0.4      Iris-setosa
6             4.6           3.4            1.4           0.3      Iris-setosa
7             5.0           3.4            1.5           0.2      Iris-setosa
50            7.0           3.2            4.7           1.4  Iris-versicolor
51            6.4           3.2            4.5           1.5  Iris-versicolor
52            6.9           3.1            4.9           1.5  Iris-versicolor
53            5.5           2.3            4.0           1.3  Iris-versicolor
54            6.5           2.8            4.6           1.5  Iris-versicolor
55            5.7           2.8            4.5           1.3  Iris-versicolor
56            6.3           3.3            4.7           1.6  Iris-versicolor
57            4.9           2.4            3.3           1.0  Iris-versicolor

## sORTING

In [42]:
df_sort=df.sort_values("PetalLengthCm",ascending=False)

In [43]:
df_sort

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
118            7.7           2.6            6.9           2.3  Iris-virginica
122            7.7           2.8            6.7           2.0  Iris-virginica
117            7.7           3.8            6.7           2.2  Iris-virginica
105            7.6           3.0            6.6           2.1  Iris-virginica
131            7.9           3.8            6.4           2.0  Iris-virginica
..             ...           ...            ...           ...             ...
36             5.5           3.5            1.3           0.2     Iris-setosa
35             5.0           3.2            1.2           0.2     Iris-setosa
14             5.8           4.0            1.2           0.2     Iris-setosa
13             4.3           3.0            1.1           0.1     Iris-setosa
22             4.6           3.6            1.0           0.2     Iris-setosa

[150 rows x 5 columns]

## Transporting data

In [44]:
df_t=df.transpose()

In [45]:
df_t

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
SepalLengthCm,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
SepalWidthCm,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
PetalLengthCm,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
PetalWidthCm,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Species,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

In [46]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

### Melting and casting data

In [48]:
df_melt = pd.melt(df,id_vars=['SepalLengthCm','PetalLengthCm','Species'])
df_melt.head()

   SepalLengthCm  PetalLengthCm      Species      variable  value
0            5.1            1.4  Iris-setosa  SepalWidthCm    3.5
1            4.9            1.4  Iris-setosa  SepalWidthCm    3.0
2            4.7            1.3  Iris-setosa  SepalWidthCm    3.2
3            4.6            1.5  Iris-setosa  SepalWidthCm    3.1
4            5.0            1.4  Iris-setosa  SepalWidthCm    3.6

In [49]:
df_cast = pd.pivot_table(df,index=['Species'])
df_cast.head()

                 PetalLengthCm  PetalWidthCm  SepalLengthCm  SepalWidthCm
Species
Iris-setosa              1.464         0.244          5.006         3.418
Iris-versicolor          4.260         1.326          5.936         2.770
Iris-virginica           5.552         2.026          6.588         2.974

In [ ]:
# def clean(data):
#     for col in data:
#         df[col].fillna(method='ffill', inplace=True)
        
# clean(df)

In [ ]:
# king=['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']
# le = LabelEncoder()
# for col in king:
#     if df[col].dtype == 'object':  # Check if the column is of object type (categorical)
#         df[col] = le.fit_transform(df[col])

In [ ]:
# from scipy.stats import zscore
# # Calculate Z-score for each column
# z_scores = df1.apply(zscore)

# # Define threshold for outlier detection
# threshold = 3  # You can adjust this threshold based on your requirement

# # Identify outliers based on threshold
# outliers_df = df1[(z_scores > threshold) | (z_scores < -threshold)]

# # Delete outliers for each column
# cleaned_df = df1[~((z_scores > threshold) | (z_scores < -threshold)).any(axis=1)]

In [ ]:
# subset5=pd.merge(subset4,subset2,on='comment',how='outer')
# df = df.dropna(subset=['cast'])